<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tj.mapper.HouseMapper">

	<resultMap type="house" id="baseHouse">
		<id column="hid" property="hid"/>
		<association property="province" column="provid" javaType="province" select="com.tj.mapper.ProvinceMapper.findByPid"></association>
		<association property="city" column="cityid" javaType="city" select="com.tj.mapper.CityMapper.findByCid"></association>
		<association property="user" column="uid" javaType="user" select="com.tj.mapper.UserMapper.findById"></association>
		<collection property="noticelst" column="hid" ofType="com.tj.po.Livenotice" select="com.tj.mapper.LivenoticeMapper.findByHid">
			<id column="lnid" property="lnid"></id>
		</collection>
		<collection property="costlst" column="hid" ofType="com.tj.po.Extracost" select="com.tj.mapper.ExtracostMapper.findByHid">
			<id column="ecid" property="ecid"></id>
		</collection>
		<collection property="imglst" column="hid" ofType="com.tj.po.HouseImg" select="com.tj.mapper.HouseimgMapper.findByHid">
			<id column="id" property="id"></id>
		</collection>
		<collection property="servicelst" column="hid" ofType="com.tj.po.ServiceItem" select="com.tj.mapper.ServiceItemMapper.getItemsByHid">
			<id column="id" property="id"></id>
		</collection>
		<collection property="ty1lst" column="hid" ofType="com.tj.po.ServiceItem" select="com.tj.mapper.ServiceItemMapper.getType1">
			<id column="id" property="id"></id>
		</collection>
		<collection property="ty2lst" column="hid" ofType="com.tj.po.ServiceItem" select="com.tj.mapper.ServiceItemMapper.getType2">
			<id column="id" property="id"></id>
		</collection>
		<collection property="ty3lst" column="hid" ofType="com.tj.po.ServiceItem" select="com.tj.mapper.ServiceItemMapper.getType3">
			<id column="id" property="id"></id>
		</collection>
		<collection property="ty4lst" column="hid" ofType="com.tj.po.ServiceItem" select="com.tj.mapper.ServiceItemMapper.getType4">
			<id column="id" property="id"></id>
		</collection>
		<collection property="ty5lst" column="hid" ofType="com.tj.po.ServiceItem" select="com.tj.mapper.ServiceItemMapper.getType5">
			<id column="id" property="id"></id>
		</collection>
		<collection property="ty6lst" column="hid" ofType="com.tj.po.ServiceItem" select="com.tj.mapper.ServiceItemMapper.getType6">
			<id column="id" property="id"></id>
		</collection>
		<collection property="ty7lst" column="hid" ofType="com.tj.po.ServiceItem" select="com.tj.mapper.ServiceItemMapper.getType7">
			<id column="id" property="id"></id>
		</collection>
		<collection property="ty8lst" column="hid" ofType="com.tj.po.ServiceItem" select="com.tj.mapper.ServiceItemMapper.getType8">
			<id column="id" property="id"></id>
		</collection>
	</resultMap>
	
	<insert id="add" parameterType="house">
		insert into house(housename,provid,cityid,location,locatremark,doorid,lng,lat,renttype,housetype,housearea,housesight,bedr_num,wcr_num,
			livr_num,kit_num,bkr_num,bal_num,live_peo_num,house_feature,house_traffic,house_arround,enterlive_time,leavelive_time,
				otherdesc,house_price,least_day,senddate,publishdate,uid) values(#{housename},#{provid},#{cityid},#{location},
					#{locatremark},#{doorid},#{lng},#{lat},#{renttype},#{housetype},#{housearea},#{housesight},#{bedr_num},#{wcr_num},#{livr_num},
					#{kit_num},#{bkr_num},#{bal_num},#{live_peo_num},#{house_feature},#{house_traffic},#{house_arround},#{enterlive_time},
					#{leavelive_time},#{otherdesc},#{house_price},#{least_day},#{senddate},#{publishdate},#{uid})
	</insert>
	
	<select id="getHouseByUid" parameterType="int" resultMap="baseHouse">
		select * from house where uid=#{uid} and isdel=0
	</select>
	
	<select id="findNewHouse" resultType="house">
		select * from house where isdel=0 order by hid desc limit 0,1
	</select>
	
	<select id="getHouseByCity" parameterType="int" resultMap="baseHouse">
		select * from house where cityid=#{cityid} and isdel=0
	</select>
	
	<select id="findHouseById" parameterType="int" resultMap="baseHouse">
		select * from house where hid=#{hid} and isdel=0
	</select>
	
	<select id="findAllHouse" resultMap="baseHouse">
		select * from house 
	</select>
	
	<update id="passHouse" parameterType="int">
		update house set state=1 where hid=#{hid}
	</update>
	
	<update id="nopassHouse" parameterType="int">
		update house set state=-1 where hid=#{hid}
	</update>
	
	<update id="downHouse" parameterType="int">
		update house set isdel=1 where hid=#{hid}
	</update>
	
	<update id="upHouse" parameterType="int">
		update house set isdel=0 where hid=#{hid}
	</update>
	
	<select id="findArround" parameterType="housevo" resultMap="baseHouse">
		SELECT * FROM house WHERE lng BETWEEN #{minlng} AND #{maxlng} AND lat BETWEEN #{minlat} AND #{maxlat}
	</select>
</mapper>